/* Your styles goes here. */
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  width: auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: left;
  margin-bottom: 20px;
}

.list {

  li.list-item {
    list-style: none;
    margin: 10px;
    padding: 10px;


    .list-item-link {
      padding: 1rem;
      border-radius: 0.5rem;
      background-color: var(--primary);
      color: var(--light-100);
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: left;
      gap: 1rem;

      img {
        width: var(--spacing-lg);
        height: var(--spacing-lg);
        border: 0.2rem solid var(--outline);
        border-radius: 50%;
      }

      &:hover {
        background-color: var(--primary-1000);
      }
    }

  }

  li.list-item-selected {
    .list-item-link {
      background-color: var(--primary-1000);
    }
  }
}

.list-item-shapes {

  /*margin-top: var(--spacing-md);*/
  /*margin-left: var(--spacing-md);*/


  li {
    list-style: none;
    margin: var(--spacing-xs);
    padding: var(--spacing-md);
    border-radius: var(--spacing-md);
    background-color: var(--success);
  }
}


